%h3
  %span about
.entry
  .matter
    %h5 A dream journal.
    %p
      Lucidly is a place to record your dreams, lucid or otherwise. You can share your dreams for publication on the front page or choose to keep them private for your records. Lucidly is completely free to use and all content is published under a non-commercial license. You can contribute code here:
      = succeed "." do
        %a{:href => "https://github.com/cpursley/Lucidly"} Lucidly