<section id = "dreams">
    <% @dreams.each do |dream| %>
        <dream class="dream">
            <div class = "title"><%= link_to dream.title, dream %></div>
            <div class = "byline"><%= dream.created_at.strftime("%B %d, %Y") %></div> 
            <div class = "teaser"><%= dream.teaser %></div>
        </dream>  
    <% end %>
</section>

<br />

<%= link_to 'New Dream', new_dream_path %>
