<footer>
  <div class="container">
    <div class="row">
      <div class="span12">
        <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">
        lucidly <%= Time.now.year %> - Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License.</a></p>
      </div>
    </div>
  <div class="clearfix"></div>
  </div>
</footer>   

